option_settings:
  aws:elasticbeanstalk:application:environment:
    REDPILL_API_ENDPOINT: 'https://api.red-pill.ai/v1/chat/completions'
    REDPILL_API_KEY: 'sk-x3E9Bk8azNxZsEwYAYpFQ23fPvqh8vqsl7Xlokk4gagjW41J'
    FLASK_SECRET_KEY: 'flWEBLbdfbSDPwbJHBEFUJWFJBGWQWEkdfoajlwidhihefveyblIYBDUWKBWKEkqwel'
    DB_HOST: 'red-gpt.c5awwokkczru.ap-south-1.rds.amazonaws.com'
    DB_PORT: '5432'
    DB_NAME: 'redgpt'
    DB_USER: 'king12jjx'
    DB_PASSWORD: 'Ca-ef2f73ncjnw9-xjxj'